<form action="/savecontact" method="post">
    <input type="text" name="name" placeholder="enter name">
    <input type="text" name="email" placeholder="enter email">
    <input type="text" name="description" placeholder="enter description">
    <input type="text" name="tags" placeholder="enter tags (marketing,finance,hr)">
    
    <button type="submit" >Click here</button>
</form>