<div class="card" style="text-align: center; background-color:white; width:40%; border-radius:10px; margin-left:30%; padding:2%; padding-top:0.5%">
<h1 class="text-center" style="margin-bottom:5%">Enter details</h1>
<form action="/savecontact" method="post">
    <div><input type="text" name="name" placeholder="enter name" class="form-control" style="margin-bottom: 3%;"></div>
    <div><input type="text" name="email" placeholder="enter email" class="form-control" style="margin-bottom: 3%;"></div>
    <div><input type="text" name="description" placeholder="enter description" class="form-control" style="margin-bottom: 3%;"></div>
    <div><input type="text" name="tags" placeholder="enter tags (marketing,finance,hr)" class="form-control" style="margin-bottom: 3%;"></div>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>

</div>